$cBlack:rgb(31, 31, 29);
$cDGray:rgb(158, 156, 156);
$cGray:rgb(231, 228, 228);
$cLGray:rgb(243, 243, 242);
$cWhite:rgb(255,255,255);
$cOpwhite:rgba(255,255,255, 0.8);
$cOpblack:rgba(31, 31, 31, 0.8);


