@import "colors";

//animation
@mixin animation(
  $delay: 0s,
  $direction: normal,
  $duration: 1s,
  $fill-mode: forwards,
  $iteration-count: 1,
  $name:'hoge',
  $timing-function: ease
) {
  animation: {
    delay: $delay;
    direction: $direction;
    duration: $duration;
    fill-mode: $fill-mode;
    iteration-count: $iteration-count;
    name: $name;
    timing-function: $timing-function;
  }
}

//backgroud-image-zoom
@mixin bgZoom(
  $bgPath,$bgopacity:0,$hovopacity:1
  ) {
  position: relative;
  overflow: hidden;
  background: rgb(31, 31, 29);
  &:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: $bgPath no-repeat center center;
    transition: all .8s ease;
    background-size: cover;
  }
  &:hover .bg-zoom-content{
    opacity: $hovopacity; //コンテンツの表示
  }
  
  &:hover:after {
    opacity: .3;
    transform: scale(1.05);
  }
  .bg-zoom-content {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: $bgopacity; //コンテンツの非表示
    transition: all .8s ease;
  }
}

@mixin hoverBbtn(
){
  transition: all 0.5s ease;
  &:hover {
    cursor: pointer;
    background-color: $cBlack;
    box-shadow: none;
    color: white;
  }
} 
  .under-arrow{
    position: absolute;
    bottom: 15px;
    left: 50%;
    @include animation(
      $name:flow,
      $iteration-count:infinite,
      $duration:1.5s
      );
      .arrow1{
        width: 30px;
        height: 30px;
        border: 5px solid;
        border-color:  transparent transparent $cBlack $cBlack;
        transform: translateX(-50%);
        transform: rotate(-45deg);
        transform-origin: (left bottom);
    }
  }
    @keyframes flow {
      0%{transform: translateY(0);}
      50%{transform: translateY(-15px)}
      100%{transform: translateY(0px)}
    }
