@import "mixin";
@import "colors";

/******************************************************************
全体適用
******************************************************************/
/* boxsizing */
* {box-sizing: border-box;}

/* googlefont */
body {font-family: "Kameron", "Noto Sans JP", sans-serif;}

/* a decoration reset */
* a {
  color: black;
  text-decoration: none;
}

/* section-width */
.content-width {
  margin: 0 auto;
  max-width: 1070px;
  width: 90%;
}

/* section-height */
.content-height {padding: 50px 0 50px 0;}
.content-height2 {padding: 100px 0 100px 0;}

/* category-tab */
.tab{
  border-radius: 5px;
  margin-right: 1rem;
  padding: 0 1rem;
  width: 5rem;
  &.news{background-color: #f7ff08;}
  &.works{background-color: #ff0df2;}
  &.blog{background-color: #ff260d;}
}

/* <br class="br-pc"> tablet */
.br-pc {
  display: block;
}
.br-sp {
  display: none;
}
.font-sm {
  font-size: 16px;
}
.font-md {
  font-size: 19px;
}
.font-lr {
  font-size: 23px;
}
.font-lg {
  font-size: 36px;
}
.mb-sm {
  margin-bottom: 16px;
}
.mb-lg {
  margin-bottom: 150px ;
}
.pb-sm {
  padding-bottom: 16px ;
}
.pb-lg {
  padding-bottom: 150px ;
}


@media screen and (min-width: 481px) and (max-width: 959px) {
  //tablet start
}


@media screen and (max-width: 480px) {
}
