@import "modules/colors";

@media (min-width:960px) { //PConly start

  /* hover-animation */
.hover-Uline{
  position: relative;
  cursor: pointer;
  text-decoration: none;
  &:before{
    content: "";
    background-color: $cDGray;
    bottom: -5px; /*線の上下位置*/
    height: 2px; /*線の太さ*/
    left: 0;
    position: absolute;
    right: 0;
    transform: scale(0,1);
    transform-origin: center;
    transition: transform .2s;
    width: 100%; /*線の長さ*/
  }
  &:hover:before {
    transform: scale(1);
  }
}

.nav-previous,.nav-next{
  cursor: pointer;
  text-decoration: none;
  &:before{
    background-color: $cDGray;
    bottom: -5px; /*線の上下位置*/
    content: "";
    height: 2px; /*線の太さ*/
    left: 0;
    position: absolute;
    right: 0;
    transform: scale(0);
    transform-origin: center;
    transition: transform .2s;
    width: 100%; /*線の長さ*/
  }
  &:hover:before {
    transform: scale(1);
  }
}
.news{
  .con-container {

    .hover-scale{
      transition: all .3s;
      img{
        transition: all 1s ease;
      }
      &:hover{
        background-color: rgb(231, 228, 228);
        img{
          opacity: .7;
          transform: scale(1.1);
        }
      }
    }
  }

}

}//PConlyend

@media (max-width:480px) { //smartphone start

  #mobile-menu-btn{display: block;}
  .content-width{width: 95%;}
  .about-nav{display: none;} 
  .content-height {padding: 50px 0 75px 0;}

  .grobal-header{
    width: 100%;
    .header-container{
      .header-center,.header-right{
        display: none;
      }
    }
  }  
  
  // index.htmlstart******************************************************
  .contents {
    grid-template:
      "con1 con1 con1" 1fr
      "con1 con1 con1" 10px
      "con1 con1 con1" 1fr
      ".... .... ...." 10px
      "con5 .... con6" 1fr
      ".... .... ...." 10px
      "con9 .... con10"1fr
      ".... .... ...." 10px
      "con3 .... con4" 1fr
      ".... .... ...." 10px
      "con7 .... con8" 1fr
      ".... .... ...." 10px
      "con2 con2 con2" 
      "con2 con2 con2" 
      "con2 con2 con2" 
      /1fr 10px 1fr;
      .content{
        box-shadow:none;
      }
  }
  
  .news {
    .con-container {
      .news-lists {
        .news-list {
          padding: 0;
          .news-link {
            display: grid;
            grid-template:
            ".... .... ....".5rem
            ".... conL ...."2rem
            ".... .... ....".5rem
            ".... conC ...."3rem
            ".... .... ....".5rem
            ".... conR ...."150px
            ".... .... ....".5rem
            /.5rem 1fr .5rem;
            .conR{
              .wp-post-image,.no-image {
              transition: none;
              }
            }
          &:hover {
            .conR {
              img {
                opacity: 1;
                transform: scale(1);
              }
            }
          }

          }  
        }
      }
    }
  }

  .bottom-banners {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    .content {
      height: 50px;
      text-align: center;
      width: 100%;
    }
  }

// about.htmlstart*******************************************************


  .about-what-content {
    .about-what-grid {
      grid-template:
        "... .... ..." 1rem
        "... con1 ..." 1fr
        "... .... ..." 1rem
        "... con2 ..." 1fr
        "... .... ..." 1rem
        "... con3 ..." 1fr
        "... .... ..." 1rem
        "... con4 ..." 1fr
        "... .... ..." 1rem
        /0  1fr 0;
    }
    .what-con {
      .text-wrapper {
        font-size: 10px;
      }
    }  
  }
  
  .about-who-content {
    .prof-con-wrapper {
      flex-direction: column;
      .prof-conR {
        font-size: 11px;
        margin: 0;
        padding: .5rem;
      }
    }
  }
// about.htmlstart*******************************************************
// contact.htmlstart*******************************************************
.contact-form-grid {
  grid-template:
    " .... .... ...." 1rem
    " con1 .... ...." 1fr
    " con2 .... ...." 1fr
    " con3 .... ...." 1fr
    " con4 .... ...." 1fr
    " con5 .... ...." 1fr
    " con6 .... ...." 1fr
    " .... .... ...." 1rem
    " con7 con7 con7" 1fr
    " .... .... ...." 1rem
    " con8 con8 con8" 
    / 1fr ;
}
.wpcf7-form-control{
  display: flex;
  flex-direction: column;
}

.cubic-btn {
  display: none;
}

.mobile-btn{
  align-items: center;
  display: block;
  display: flex;
  justify-content: center;
  .submit-btn{
    align-items: center;
    background-color: $cBlack;
    color: $cWhite;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    padding: .5rem;
    width: 100%;
  }
}

// contact.htmlstart*******************************************************
// demo.phpstart*******************************************************

.SAwrapper {
  flex-direction: column;
  &__left{
    width: 100%!important;
  }
  &__right {
    width: 100%!important;
    .swiper-container{
      margin: 0 auto;
    }
  }
}
 element.style{
  width: 100%;
 }
// demo.phpstart*******************************************************

} //smartphone end



@media screen and (min-width:481px) and (max-width:959px){ //tablet start
  .grobal-header{
    .header-container{
      .header-center{
        display: none;
      }
    }
  }
  #mobile-menu-btn{
    display: block;
  }
// index.htmlstart*******************************************************

  .contents {
    grid-template:
      "con1 con1 con1" 1fr
      "con1 con1 con1" 10px
      "con1 con1 con1" 1fr
      ".... .... ...." 10px
      "con5 .... con6" 1fr
      ".... .... ...." 10px
      "con9 .... con10"1fr
      ".... .... ...." 10px
      "con3 .... con4" 1fr
      ".... .... ...." 10px
      "con7 .... con8" 1fr
      ".... .... ...." 10px
      "con2 con2 con2" 1fr
      "con2 con2 con2" 1fr
      "con2 con2 con2" 1fr
      /1fr 10px 1fr;
  }

  .news {
    .con-container {
      .news-lists {
        .news-list {
          padding: 0;
          .news-link {
            display: grid;
            grid-template:
            ".... .... ....".5rem
            ".... conL ...."2rem
            ".... .... ...."1rem
            ".... conC ...."3rem
            ".... .... ...."1rem
            ".... conR ...."200px
            ".... .... ....".5rem
            /.5rem 1fr .5rem;
            .conR{
              .wp-post-image,.no-image {
              transition: none;
              }
            }
            &:hover {
              .conR {
                img {
                  opacity: 1;
                  transform: scale(1);
                }
              }
            }
          }  
        }

      }
    }
  }

  footer {
    flex-direction: column;
    .content {
      height: 50px;
      text-align: center;
      width: 100%;
    }
  }

  .bottom-banners {
    flex-direction: column;
  }
// index.htmlend*******************************************************
// about.htmlstart*******************************************************

.about-what-content {
  .about-what-grid {
    grid-template:
      "... .... ..." 1rem
      "... con1 ..." 1fr
      "... .... ..." 1rem
      "... con2 ..." 1fr
      "... .... ..." 1rem
      "... con3 ..." 1fr
      "... .... ..." 1rem
      "... con4 ..." 1fr
      "... .... ..." 1rem
      /0  1fr 0;
  }
}

.about-who-content {
  .prof-con-wrapper {
    flex-direction: column;
    .prof-conR {
      margin-top: 1rem;
    }
  }
}
// about.htmlend*******************************************************
// demo.phpstart*******************************************************

.SAwrapper {
  &__left{
    width: 100%;
  }
  &__rigtht {
    width: 100%;
    .swiper-container{
      .swiper-wrapper{
        .swiper-slide{
          width: 100%;
        }
      }
    }
  }
}
element.style{
  width: 100%;
 }

// demo.phpstart*******************************************************



} //tablet end


