@charset "UTF-8";
@media (min-width: 960px) {
  /* hover-animation */
  .hover-Uline {
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }
  .hover-Uline:before {
    content: "";
    background-color: #9e9c9c;
    bottom: -5px;
    /*線の上下位置*/
    height: 2px;
    /*線の太さ*/
    left: 0;
    position: absolute;
    right: 0;
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform .2s;
    width: 100%;
    /*線の長さ*/
  }
  .hover-Uline:hover:before {
    transform: scale(1);
  }
  .nav-previous, .nav-next {
    cursor: pointer;
    text-decoration: none;
  }
  .nav-previous:before, .nav-next:before {
    background-color: #9e9c9c;
    bottom: -5px;
    /*線の上下位置*/
    content: "";
    height: 2px;
    /*線の太さ*/
    left: 0;
    position: absolute;
    right: 0;
    transform: scale(0);
    transform-origin: center;
    transition: transform .2s;
    width: 100%;
    /*線の長さ*/
  }
  .nav-previous:hover:before, .nav-next:hover:before {
    transform: scale(1);
  }
  .news .con-container .hover-scale {
    transition: all .3s;
  }
  .news .con-container .hover-scale img {
    transition: all 1s ease;
  }
  .news .con-container .hover-scale:hover {
    background-color: #e7e4e4;
  }
  .news .con-container .hover-scale:hover img {
    opacity: .7;
    transform: scale(1.1);
  }
}

@media (max-width: 480px) {
  #mobile-menu-btn {
    display: block;
  }
  .content-width {
    width: 95%;
  }
  .about-nav {
    display: none;
  }
  .content-height {
    padding: 50px 0 75px 0;
  }
  .grobal-header {
    width: 100%;
  }
  .grobal-header .header-container .header-center, .grobal-header .header-container .header-right {
    display: none;
  }
  .contents {
    grid-template: "con1 con1 con1" 1fr "con1 con1 con1" 10px "con1 con1 con1" 1fr ".... .... ...." 10px "con5 .... con6" 1fr ".... .... ...." 10px "con9 .... con10" 1fr ".... .... ...." 10px "con3 .... con4" 1fr ".... .... ...." 10px "con7 .... con8" 1fr ".... .... ...." 10px "con2 con2 con2" "con2 con2 con2" "con2 con2 con2"/1fr 10px 1fr;
  }
  .contents .content {
    box-shadow: none;
  }
  .news .con-container .news-lists .news-list {
    padding: 0;
  }
  .news .con-container .news-lists .news-list .news-link {
    display: grid;
    grid-template: ".... .... ...." 0.5rem ".... conL ...." 2rem ".... .... ...." 0.5rem ".... conC ...." 3rem ".... .... ...." 0.5rem ".... conR ...." 150px ".... .... ...." 0.5rem/0.5rem 1fr 0.5rem;
  }
  .news .con-container .news-lists .news-list .news-link .conR .wp-post-image, .news .con-container .news-lists .news-list .news-link .conR .no-image {
    transition: none;
  }
  .news .con-container .news-lists .news-list .news-link:hover .conR img {
    opacity: 1;
    transform: scale(1);
  }
  .bottom-banners {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
  }
  footer .content {
    height: 50px;
    text-align: center;
    width: 100%;
  }
  .about-what-content .about-what-grid {
    grid-template: "... .... ..." 1rem "... con1 ..." 1fr "... .... ..." 1rem "... con2 ..." 1fr "... .... ..." 1rem "... con3 ..." 1fr "... .... ..." 1rem "... con4 ..." 1fr "... .... ..." 1rem /0  1fr 0;
  }
  .about-what-content .what-con .text-wrapper {
    font-size: 10px;
  }
  .about-who-content .prof-con-wrapper {
    flex-direction: column;
  }
  .about-who-content .prof-con-wrapper .prof-conR {
    font-size: 11px;
    margin: 0;
    padding: .5rem;
  }
  .contact-form-grid {
    grid-template: " .... .... ...." 1rem " con1 .... ...." 1fr " con2 .... ...." 1fr " con3 .... ...." 1fr " con4 .... ...." 1fr " con5 .... ...." 1fr " con6 .... ...." 1fr " .... .... ...." 1rem " con7 con7 con7" 1fr " .... .... ...." 1rem " con8 con8 con8"  / 1fr;
  }
  .wpcf7-form-control {
    display: flex;
    flex-direction: column;
  }
  .cubic-btn {
    display: none;
  }
  .mobile-btn {
    align-items: center;
    display: block;
    display: flex;
    justify-content: center;
  }
  .mobile-btn .submit-btn {
    align-items: center;
    background-color: #1f1f1d;
    color: white;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    padding: .5rem;
    width: 100%;
  }
  .SAwrapper {
    flex-direction: column;
  }
  .SAwrapper__left {
    width: 100% !important;
  }
  .SAwrapper__right {
    width: 100% !important;
  }
  .SAwrapper__right .swiper-container {
    margin: 0 auto;
  }
  element.style {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 959px) {
  .grobal-header .header-container .header-center {
    display: none;
  }
  #mobile-menu-btn {
    display: block;
  }
  .contents {
    grid-template: "con1 con1 con1" 1fr "con1 con1 con1" 10px "con1 con1 con1" 1fr ".... .... ...." 10px "con5 .... con6" 1fr ".... .... ...." 10px "con9 .... con10" 1fr ".... .... ...." 10px "con3 .... con4" 1fr ".... .... ...." 10px "con7 .... con8" 1fr ".... .... ...." 10px "con2 con2 con2" 1fr "con2 con2 con2" 1fr "con2 con2 con2" 1fr/1fr 10px 1fr;
  }
  .news .con-container .news-lists .news-list {
    padding: 0;
  }
  .news .con-container .news-lists .news-list .news-link {
    display: grid;
    grid-template: ".... .... ...." 0.5rem ".... conL ...." 2rem ".... .... ...." 1rem ".... conC ...." 3rem ".... .... ...." 1rem ".... conR ...." 200px ".... .... ...." 0.5rem/0.5rem 1fr 0.5rem;
  }
  .news .con-container .news-lists .news-list .news-link .conR .wp-post-image, .news .con-container .news-lists .news-list .news-link .conR .no-image {
    transition: none;
  }
  .news .con-container .news-lists .news-list .news-link:hover .conR img {
    opacity: 1;
    transform: scale(1);
  }
  footer {
    flex-direction: column;
  }
  footer .content {
    height: 50px;
    text-align: center;
    width: 100%;
  }
  .bottom-banners {
    flex-direction: column;
  }
  .about-what-content .about-what-grid {
    grid-template: "... .... ..." 1rem "... con1 ..." 1fr "... .... ..." 1rem "... con2 ..." 1fr "... .... ..." 1rem "... con3 ..." 1fr "... .... ..." 1rem "... con4 ..." 1fr "... .... ..." 1rem /0  1fr 0;
  }
  .about-who-content .prof-con-wrapper {
    flex-direction: column;
  }
  .about-who-content .prof-con-wrapper .prof-conR {
    margin-top: 1rem;
  }
  .SAwrapper__left {
    width: 100%;
  }
  .SAwrapper__rigtht {
    width: 100%;
  }
  .SAwrapper__rigtht .swiper-container .swiper-wrapper .swiper-slide {
    width: 100%;
  }
  element.style {
    width: 100%;
  }
}
