@media (max-width: 480px) {
  .bottom-banners {
    flex-direction: column;
  }
}

@media screen and (min-width: 481px) and (max-width: 959px) {
  .contents {
    grid-template: "con1 con1 con1" 1fr "con1 con1 con1" 10px "con1 con1 con1" 1fr ".... .... ...." 10px "con5 .... con6" 1fr ".... .... ...." 10px "con9 .... con10" 1fr ".... .... ...." 10px "con3 .... con4" 1fr ".... .... ...." 10px "con7 .... con8" 1fr "con2 con2 con2" 1fr "con2 con2 con2" 1fr "con2 con2 con2" 1fr/1fr 10px 1fr;
  }
  .news-list {
    display: grid;
    grid-template: "con1 .... con3" 1fr "con2 .... con3" 1fr/1fr 10px 1fr;
  }
  .news-list .conL {
    grid-area: con1;
  }
  .news-list .conC {
    grid-area: con2;
  }
  .news-list .conR {
    grid-area: con3;
  }
}
