@import "venders/reset";
@import "modules/variables";
@import "modules/mixin";
@import "modules/colors";

//headerstart********************************************************
//googlefont読み込み
@import url("https://fonts.googleapis.com/css2?family=Kameron&family=Noto+Sans+JP:wght@100&display=swap");

//消す
#scrollValue {
  background-color: red;
  padding: 20px;
  position: fixed;
  top: 100px;
  right: 0px;
}
//消す

.grobal-header {
  background-color: $cBlack;
  color: $cWhite;
  left: 0;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 5;
  height: 50px;
  .header-container {
    display: flex;
    .header-left {
      line-height: 50px;
      text-align: center;
      width: 100px;
      .link-logo {
        color: $cWhite;
      }
    }
    .header-center {
      align-items: center;
      display: flex;
      flex-grow: 5;
      flex-wrap: wrap;
      .link-text {
        margin-left: 1rem;
        text-align: center;
        a {
          color: $cWhite;
        }
      }
    }
    .header-right {
      align-items: center;
      display: flex;
      flex-grow: 3;
      flex-wrap: wrap;
      .option-icon {
        line-height: 19px;
        margin-left: 1rem;
        .svg-inline--fa {
          font-size: 19px;
        }
        &.iconR{
          .search-form{
            position: fixed;
            top:50px;
            .search-box{
              display: flex;
              background-color: red;
              .button-submit{
                cursor: pointer;
                
              }
            }
            .search-input{
              font-size: 15px;
            }
          }

        }
      }
    }
  }
}

#mobile-menu-btn {
  display: none;
}
.mobile-menu__btn {
  border-radius: 3px;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0.5rem;
  background-color: $cWhite;
  border: none;
  outline: none !important;
  cursor: pointer;
  span {
    background-color: $cBlack;
    display: block;
    height: 2px;
    width: 35px;
    margin-bottom: 9px;
    transition: transform 0.7s;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

#container {
  background-color: $cWhite;
  position: relative;
  z-index: 2;
  transition: all 0.5s;
  .header {
    background-color: $cWhite;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.menu-open {
  & #container {
    transform: translate(-200px, 0);
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }
  & .mobile-menu {
    &__cover {
      opacity: 1;
      visibility: visible;
    }
    &__item {
      transform: none;
      opacity: 1;
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.07s;
        }
      }
    }
    &__btn span {
      background-color: $cBlack;
      &:nth-child(1) {
        transform: translateY(11px) rotate(135deg);
      }
      &:nth-child(2) {
        transform: translateX(-18px) scaleX(0);
      }
      &:nth-child(3) {
        transform: translateY(-11px) rotate(-135deg);
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
  &__cover {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
    cursor: pointer;
  }
  &__main {
    perspective: 2000px;
    transform-style: preserve-3d;
  }
  &__item {
    display: block;
    transform: translate3d(0, 0, -1000px);
    padding: 0 40px;
    transition: transform 0.3s, opacity 0.2s;
    opacity: 0;
  }
  &__link {
    color: $cBlack;
    display: block;
    margin-top: 10px;
    .main-title {
      font-weight: 600;
      font-size: 25px;
    }
    .sub-title {
      padding-left: 0.5rem;
      color: $cDGray;
      display: block;
      font-size: 14px;
    }
  }
}

.topBtn {
  border: 1px solid $cWhite;
  border-radius: 50%;
  align-items: center;
  background-color: rgba(31, 31, 29, 0.8);
  color: white;
  bottom: 15px;
  display: flex;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 15px;
  width: 50px;
  z-index: 20;
  cursor: pointer;
}

//headerend********************************************************

//footerstart******************************************************

footer {
  background-color: $cBlack;
  display: flex;
  .content {
    color: $cWhite;
    height: 200px;
    text-align: center;
    width: 100%;
    a {
      color: $cWhite;
    }
  }
  .Lfooter,
  .Cfooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Rfooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-icon {
    font-size: 1.5rem;
    margin: 0 1rem;
  }
}
//footerend********************************************************

//index.htmlstart**************************************************
.main-contents-area {
  height: calc(100vh - 50px);
  .content {
    background-size: cover;
    background-position: center;
    position: relative;
    &__link {
      color: $cWhite;
      display: inline-block;
      height: 100%;
      width: 100%;
    }
    .category {
      background-color: rgba(31, 31, 29, 0.8);
      padding: 0.3rem;
      position: absolute;
      right: 0;
      top: 0;
    }
    .content-info {
      background-color: rgba(31, 31, 29, 0.8);
      bottom: 0;
      left: 0;
      padding: 0.3rem;
      position: absolute;
      &.small {
        font-size: 0.7rem;
      }
    }
  }
}

.contents {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template:
    "con1 con1 con1 .... con5 .... con6 " 1fr
    "con1 con1 con1 .... .... .... .... " 20px
    "con1 con1 con1 .... con9 .... con10 " 1fr
    ".... .... .... .... .... .... .... " 20px
    "con3 .... con4 .... con2 con2 con2 " 1fr
    ".... .... .... .... con2 con2 con2 " 20px
    "con7 .... con8 .... con2 con2 con2" 1fr
    /1fr 20px 1fr 20px 1fr 20px 1fr;
  .content {
    box-shadow: 0 0 15px rgb(85, 84, 84);
    &::before {
      display: block;
      content: "";
      padding-top: 50%;
    }
  }
  @for $i from 1 through 15 {
    .con#{$i} {
      grid-area: con#{$i};
      @include bgZoom(url(../img/business_0#{$i}.jpeg), 1, 1);
    }
  }
}

.news {
  background-color: $cLGray;
  .con-container {
    .news-title {
      letter-spacing: 3px;
      margin: 0 auto 50px auto;
      text-align: center;
    }
    .category-lists {
      padding: 1rem 0;
      .category-list {
        margin-right: 0.5rem;
      }
    }

    .news-lists {
      margin-bottom: 50px;
      .news-link:last-child {
        margin-bottom: 0;
      }
      .news-list {
        background-color: $cWhite;
        padding: 1em;
        margin-bottom: 1rem;
        transition: all 0.3s ease;
        .news-link {
          display: flex;
          .conL {
            flex-grow: 1;
            padding: 1em;
          }
          .conC {
            font-size: 1.5rem;
            flex-grow: 8;
            padding: 1em;
          }
          .conR {
            background-color: $cWhite;
            flex-basis: 130px;
            overflow: hidden;
            height: 100px;
            width: 100px;
            .wp-post-image {
              height: 100%;
              width: 100%;
              object-fit: cover;
              transition: all 1s ease;
            }
          }
        }
        &:hover {
          background-color: rgb(231, 228, 228);
          .conR {
            img {
              opacity: 0.7;
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .news-btn {
      text-align: center;
      display: block;
      border-radius: 3px;
      background-color: $cWhite;
      border: solid 1px $cBlack;
      box-shadow: $cBlack 0 0 8px;
      font-size: 1rem;
      height: 50px;
      line-height: 50px;
      margin: 0 auto;
      width: 10rem;
      @include hoverBbtn();
    }
  }
}

.bottom-banners {
  display: flex;
  .banner {
    width: 100%;
    &::before {
      display: block;
      content: "";
      padding-top: 50%;
    }

    .banner-content {
      color: $cWhite;
    }
  }
  .banner-1 {
    @include bgZoom(url(https://picsum.photos/seed/picsum/1350/900));
  }
  .banner-2 {
    @include bgZoom(url(https://picsum.photos/id/237/1350/900));
  }
  .banner-3 {
    @include bgZoom(url(https://picsum.photos/1350/900?grayscale));
  }
}

//index.htmlend********************************************************

//contact.htmlstart****************************************************

.contact-form {
  &-title,
  &-message {
    margin-bottom: 1rem;
  }
}
.contact-form-grid {
  display: grid;
  grid-template:
    " .... .... ...." 1rem
    " con1 con1 con1" 1fr
    " con2 .... con3" 1fr
    " .... .... ...." 1rem
    " con4 .... con5" 1fr
    " .... .... ...." 1rem
    " con6 .... ...." 1fr
    " .... .... ...." 1rem
    " con7 con7 con7" 1fr
    " .... .... ...." 1rem
    " con8 con8 con8"
    / 1fr 1rem 1fr;
}
.checkbox {
  margin-left: 1rem;
  input {
    vertical-align: text-top;
  }
  &:first-child {
    margin-left: 0;
  }
}

@for $i from 1 through 8 {
  .form-item#{$i} {
    padding: 0.5rem 0;
    grid-area: con#{$i};
  }
  .ipt {
    background-color: $cLGray;
    border: none;
    height: 3rem;
    padding-left: 0.5rem;
    width: 100%;
  }
  .ipt-lg {
    background-color: $cLGray;
    border: none;
    height: 10rem;
    padding-left: 0.5rem;
    width: 100%;
  }
  .must {
    &:after {
      content: " * 必須";
      color: red;
      font-size: 0.7rem;
    }
  }
}

.cubic-btn {
  color: $cBlack;
  display: inline-block;
  height: 50px;
  margin: 1rem 0 0 0;
  perspective: 300px;
  position: relative;
  transform-style: preserve-3d;
  width: 250px;
  & span {
    // top: 0;//追加
    border: solid 1px $cBlack;
    height: 100%;
    line-height: 48px;
    position: absolute;
    transition: all 0.2s;
    width: 100%;
  }
  & .hovering {
    transform: rotateX(90deg);
    transform-origin: center center -25px;
    & .submit-btn {
      background-color: $cBlack;
      border: none;
      color: $cWhite;
      display: inline-block;
      font-weight: bold;
      height: 100%;
      width: 100%;
    }
  }
  & .default {
    color: $cBlack;
    transform: rotateX(0);
    transform-origin: center center -25px;
    & .submit-btn {
      border: none;
      display: inline-block;
      font-weight: bold;
      height: 100%;
      width: 100%;
    }
  }
  &:hover {
    & .hovering {
      transform: rotateX(0);
    }
    & .default {
      transform: rotateX(-90deg);
    }
  }
}
//contact.htmlend********************************************************

//about.htmlstart********************************************************

.about-main-visual {
  height: calc(100vh - 50px);
  position: relative;
  .about-main-title {
    letter-spacing: 5px;
  }
  .bg-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../img/about-main.jpg);
    background-size: cover;
    background-position: center;
  }
}

.about-nav {
  background-color: $cOpblack;
  position: sticky;
  z-index: 5;
  top: 50px;
  .about-nav-lists {
    align-items: center;
    display: flex;
    height: 50px;
    padding-left: 100px;
    .about-nav-list {
      padding: 0 1rem;
      .a-nav-text {
        color: white;
      }
    }
  }
}

.about-what-content {
  position: relative;
  .about-what-grid {
    display: grid;
    grid-template:
      "... .... ... .... ..." 1rem
      "... con1 ... con2 ..." 1fr
      "... .... ... .... ..." 20px
      "... con3 ... con4 ..." 1fr
      "... .... ... .... ..." 1rem
      /0 1fr 20px 1fr 0;
  }
  @for $i from 1 through 4 {
    .about-con#{$i} {
      grid-area: con#{$i};
    }
  }

  .what-con {
    box-shadow: 0 0 15px rgb(85, 84, 84);
    background-color: $cLGray;
    padding: 1rem;
    position: relative;
    .text-wrapper {
      display: flex;
      margin-top: 1rem;
      .what-conL {
        width: 25%;
        .textL {
          display: flex;
          line-height: 1.5rem;
          margin-bottom: 0.5rem;

          .svg-inline--fa {
            border-radius: 2px;
            color: $cWhite;
            background-color: $cBlack;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
          }
        }
      }
      .what-conR {
        width: 75%;
        .textR {
          line-height: 1.5rem;
          margin-bottom: 0.5rem;
          margin-left: 2rem;
        }
      }
    }
    &__btn {
      @include hoverBbtn();
      vertical-align: middle;
      display: inline-block;
      width: 4rem;
      height: 4rem;
      border: 1px solid $cBlack;
      background-color: $cWhite;
    }
  }
}
.modal-area {
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  background-color: $cWhite;
  z-index: 10;
  height: calc(100vh - 100px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow: auto;
  .modal {
    display: none;
    &.active {
      display: block;
    }
  }
  .modalClose {
    border: 1px solid $cBlack;
    border-radius: 3px;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: $cLGray;
    cursor: pointer;
    span {
      background-color: $cBlack;
      display: block;
      height: 2px;
      width: 35px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:nth-child(1) {
        transform: translateX(-17px) rotate(45deg);
      }
      &:nth-child(2) {
        transform: translateX(-17px) rotate(-45deg);
      }

      // &:last-child{
      //   margin-bottom: 0;
      // }
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
}
.mask {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $cOpblack;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  &.active {
    opacity: 0.8;
    visibility: visible;
  }
}

.about-who-content {
  position: relative;
  .prof-con-wrapper {
    margin-top: 1rem;
    display: flex;
    box-shadow: 0 0 15px rgb(85, 84, 84);
    .prof-conL {
      flex-grow: 3;
      .prof-conL-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        .prof-picture {
          display: block;
          height: 250px;
          margin: 1rem auto;
        }
        .prof-name {
          padding: 0.5rem 0;
        }
        .prof-text {
          margin-bottom: 1rem;
        }
      }
    }
    .prof-conR {
      background-color: $cGray;
      flex-grow: 7;
      padding: 1rem;
      .history-title {
        margin-bottom: 1rem;
      }
      .history-wrapper {
        display: flex;
        .history-date {
          margin-left: 1rem;
          line-height: 2rem;
        }
        .history-text {
          border-left: $cDGray solid 1px;
          margin-left: 2rem;
          line-height: 2rem;
          padding-left: 2rem;
        }
      }
    }
  }
}

.about-gallery {
  &-content {
    display: grid;
    grid-template:
      "... .... .... .... ..." 1rem
      "... pic1 pic1 pic1 ..." 1fr
      "... .... .... .... ..." 1rem
      "... pic2 .... pic3 ..." 1fr
      "... .... .... .... ..." 1rem
      /0 1fr 1rem 1fr 0;

    .g-picture {
      .g-picture-text {
        color: $cWhite;
        text-align: center;
      }
      &::before {
        display: block;
        content: "";
        padding-top: 50%;
      }
    }
    .picture1 {
      grid-area: pic1;
      @include bgZoom(url(https://picsum.photos/seed/picsum/1350/900));
    }
    .picture2 {
      grid-area: pic2;
      @include bgZoom(url(https://picsum.photos/id/237/1350/900));
    }
    .picture3 {
      @include bgZoom(url(https://picsum.photos/seed/picsum/1350/900));
      grid-area: pic3;
    }
  }
}
//about.htmlend********************************************************

//archive.htmlstart****************************************************

.page_navi {
  text-align: center;
}

.page_navi li {
  display: inline;
  list-style: none;
}

.page_navi li.current span {
  color: #000;
  font-weight: bold;
  display: inline-block;
  padding: 3px 7px;
  background: $cWhite;
  border: solid 1px #999;
}

.page_navi li a {
  color: #333;
  padding: 3px 7px;
  background: #eee;
  display: inline-block;
  border: solid 1px #999;
  text-decoration: none;
}

.page_navi li a:hover {
  color: #f00;
}

.page_navi li.page_nums span {
  color: #fff;
  padding: 3px 7px;
  background: #666;
  display: inline-block;
  border: solid 1px #333;
}

//archive.htmlend*****************************************************

//single.phpstart*****************************************************
.post-image {
  background-image: url(https://picsum.photos/1350/900?grayscale);
  background-position: center;
  background-size: cover;
  &::before {
    content: "";
    display: block;
    padding-top: 50%;
  }
}
.main-contents {
  padding: 5rem; //仮置
  .content-info {
    &__title {
      font-size: 2rem;
      margin: 1rem;
    }
  }
  .content-text {
    margin: 0 1rem;
    line-height: 2;
  }
}
//single.phpend*****************************************************

//demo.phpstart*****************************************************
.demo{
  margin-top: 50px;
}
.demo-container{
  padding: 2rem 0;
}
.slider-area {
  margin: 2rem 0;
  .SAwrapper {
    display: flex;
    justify-content: space-between;
    &__left {
      width: 50%;
      background-color: $cLGray;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p,h1{
        text-align: center;
        line-height: 2rem;
      }
      h1{
        font-size: 1.3rem;
        margin: 0 2rem 1rem 2rem;
        border-bottom: solid $cBlack 1px ;
      }
    }
    &__right {
      width: 50%;
      .swiper-container{
        .swiper-slide {
          height: 25vh;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .swiper-slide.slide1 {
          background-image: url(../img/business_01.jpeg);
        }
        .swiper-slide.slide2 {
          background-image: url(../img/business_02.jpeg);
        }
        .swiper-slide.slide3 {
          background-image: url(../img/business_03.jpeg);
        }
        .swiper-slide.slide4 {
          background-image: url(../img/business_04.jpeg);
        }
        .swiper-slide.slide5 {
          background-image: url(../img/business_05.jpeg);
        }
        .swiper-slide.slide6 {
          background-image: url(../img/business_06.jpeg);
        }
      }
      .swiper-pagination-fraction{
        color:rgb(20,122,246);
      }
    }
  }
}


//demo.phpend*****************************************************


