@import "venders/reset";
@import "modules/variables";
@import "modules/mixin";

.content-height {
  padding: 100px 0 100px 0;
}

//headerstart********************************************************

.grobal-header {
  background-color: rgba(255, 255, 255, 0.8);
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10;
  height: 50px;
  .header-container {
    display: flex;
    .header-left {
      line-height: 50px;
      text-align: center;
      width: 100px;
      .link-logo {
      }
    }
    .header-center {
      align-items: center;
      display: flex;
      flex-grow: 5;
      flex-wrap: wrap;
      .link-text {
        margin-left: 1rem;
        text-align: center;
      }
    }
    .header-right {
      align-items: center;
      display: flex;
      flex-grow: 3;
      flex-wrap: wrap;
      .option-icon {
        margin-left: 1rem;
      }
    }
  }
}
//headerend********************************************************

//footerstart******************************************************

footer {
  background-color: $cBlack;
  display: flex;
  .content {
    color: $cWhite;
    height: 200px;
    line-height: 200px;
    text-align: center;
    width: 100%;
    a {
      color: $cWhite;
    }
  }
  .Lfooter {
  }
  .Cfooter {
  }
  .Rfooter {
    .footer-icon {
      margin: 0 0.2rem;
    }
  }
}
//footerend********************************************************


//index.htmlstart**************************************************
.main-contents-area {
  .content {
    background-size: cover;
    background-position: center;
    position: relative;
    &__link {
      color: $cWhite;
      display: inline-block;
      height: 100%;
      width: 100%;
    }
    .category {
      background-color: $cBlack;
      padding: 0.3rem;
      position: absolute;
      right: 0;
      top: 0;
    }
    .content-info {
      background-color: $cBlack;
      bottom: 0;
      left: 0;
      padding: 0.3rem;
      position: absolute;
      &.small {
        font-size: 0.7rem;
      }
    }
  }
}

.contents {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template:
    "con1 con1 con1 .... con5 .... con6 " 1fr
    "con1 con1 con1 .... .... .... .... " 10px
    "con1 con1 con1 .... con9 .... con10 " 1fr
    ".... .... .... .... .... .... .... " 10px
    "con3 .... con4 .... con2 con2 con2 " 1fr
    ".... .... .... .... con2 con2 con2 " 10px
    "con7 .... con8 .... con2 con2 con2" 1fr
    /1fr 10px 1fr 10px 1fr 10px 1fr;
  .content {
    &::before {
      display: block;
      content: "";
      padding-top: 50%;
    }
  }
  @for $i from 1 through 15 {
    .con#{$i} {
      grid-area: con#{$i};
      @include bgZoom(url(../img/business_0#{$i}.jpeg), 1, 1);
    }
  }
}

.news {
  background-color: $cLGray;
  .con-container {
    .news-title {
      letter-spacing: 3px;
      margin: 0 auto 50px auto;
      text-align: center;
    }
    .news-lists {
      margin-bottom: 50px;
      .news-link:last-child {
        margin-bottom: 0;
      }
      .news-list {
        background-color: $cWhite;
        padding: 1em;
        margin-bottom: 1rem;
        .news-link {
          display: flex;
          .conL {
            flex-grow: 1;
            padding: 1em;
          }
          .conC {
            flex-grow: 8;
            padding: 1em;
          }
          .conR {
            background-color: $cWhite;
            flex-basis: 130px;
            overflow: hidden;
            height: 100px;
            width: 100px;
            .news-image {
              height: 100%;
              width: 100%;
              object-fit: cover;
              transition: all 1s ease;
            }
          }
        }
        transition: all 0.3s ease;
        &:hover {
          background-color: rgb(231, 228, 228);
          .conR {
            img {
              opacity: 0.7;
              transform: scale(1.1);
            }
          }
        }
      }
      .news-btn{
      }
    }
  }
}

.bottom-banners {
  display: flex;
  .banner {
    width: 100%;
    &::before {
      display: block;
      content: "";
      padding-top: 50%;
    }

    .banner-content {
      color: $cWhite;
    }
  }
  .banner-1 {
    @include bgZoom(url(https://picsum.photos/seed/picsum/1350/900));
  }
  .banner-2 {
    @include bgZoom(url(https://picsum.photos/id/237/1350/900));
  }
  .banner-3 {
    @include bgZoom(url(https://picsum.photos/1350/900?grayscale));
  }
}

//index.htmlend********************************************************


//contact.htmlstart****************************************************

.contact-form {
  // padding: 150px 0 50px 0;
  &-title,
  &-message {
    margin-bottom: 1rem;
  }
}
.contact-form-grid {
  display: grid;
  grid-template:
    " .... .... ...." 1rem
    " con1 con1 con1" 1fr
    " con2 .... con3" 1fr
    " .... .... ...." 1rem
    " con4 .... con5" 1fr
    " .... .... ...." 1rem
    " con6 .... ...." 1fr
    " .... .... ...." 1rem
    " con7 con7 con7" 1fr
    " .... .... ...." 1rem
    " con8 con8 con8"
    / 1fr 1rem 1fr;
}
.check-box {
  margin-left: 1rem;
  &:first-child {
    margin-left: 0;
  }
}

@for $i from 1 through 8 {
  .form-item#{$i} {
    padding: 0.5rem 0;
    grid-area: con#{$i};
  }
  .ipt {
    background-color: $cLGray;
    border: none;
    height: 3rem;
    padding-left: 0.5rem;
    width: 100%;
  }
  .ipt-lg {
    background-color: $cLGray;
    border: none;
    height: 10rem;
    padding-left: 0.5rem;
    width: 100%;
  }
  .must {
    &:after {
      content: " * 必須";
      color: red;
      font-size: 0.7rem;
    }
  }
}

.cubic-btn {
  color: $cBlack;
  display: inline-block;
  height: 50px;
  margin: 1rem 0 0 0;
  perspective: 300px;
  position: relative;
  transform-style: preserve-3d;
  width: 250px;
  & span {
    border: solid 1px $cBlack;
    height: 100%;
    line-height: 48px;
    position: absolute;
    transition: all 0.2s;
    width: 100%;
  }
  & .hovering {
    transform: rotateX(90deg);
    transform-origin: center center -25px;
    & .submit-btn {
      background-color: $cBlack;
      border: none;
      color: $cWhite;
      display: inline-block;
      font-weight: bold;
      height: 100%;
      width: 100%;
    }
  }
  & .default {
    color: $cBlack;
    transform: rotateX(0);
    transform-origin: center center -25px;
    & .submit-btn {
      border: none;
      display: inline-block;
      font-weight: bold;
      height: 100%;
      width: 100%;
    }
  }
  &:hover {
    & .hovering {
      transform: rotateX(0);
    }
    & .default {
      transform: rotateX(-90deg);
    }
  }
}
//contact.htmlend********************************************************

//about.htmlstart********************************************************

.about-main-visual {
  height: calc(100vh - 50px);
  padding-top: 50px;
  position: relative;
  .about-main-title {
    left: 50%;
    letter-spacing: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .bg-img {
    height: 100%;
    background-image: url(../img/about-main.jpg);
    background-size: cover;
    background-position: center;
  }
}

.about-nav {
  background-color: rgba(31, 31, 29, 0.8);
  position: sticky;
  z-index: 5;
  top: 50px;
  .about-nav-lists {
    align-items: center;
    display: flex;
    height: 50px;
    padding-left: 100px;
    .about-nav-list {
      padding: 0 1rem;
      .a-nav-text {
        color: white;
      }
    }
  }
}

.about-what-content {
  position: relative;
  .about-what-grid {
    display: grid;
    grid-template:
      "... .... ... .... ..." 1rem
      "... con1 ... con2 ..." 1fr
      "... .... ... .... ..." 1rem
      "... con3 ... con4 ..." 1fr
      "... .... ... .... ..." 1rem
      /0 1fr 1rem 1fr 0;
  }
  @for $i from 1 through 4 {
    .about-con#{$i} {
      grid-area: con#{$i};
    }
  }

  .what-con {
    background-color: $cLGray;
    padding: 1rem;
    .text-wrapper {
      display: flex;
      margin-top: 1rem;
      .what-conL {
        width: 25%;
        .textL {
          line-height: 1.5rem;
          margin-bottom: 0.5rem;
          margin-left: 1rem;
          .svg-inline--fa{
            vertical-align: middle;
          }
        }
      }
      .what-conR {
        width: 75%;
        .textR {
          line-height: 1.5rem;
          margin-bottom: 0.5rem;
          margin-left: 2rem;
        }
      }
    }
  }
}

.about-who-content {
  position: relative;
  .prof-con-wrapper {
    margin-top: 1rem;
    display: flex;
    .prof-conL {
      flex-grow: 3;
      .prof-conL-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        .prof-picture {
          display: block;
          height: 250px;
          margin: 0 auto;
        }
        .prof-name {
          padding: 1rem 0;
        }
        .prof-text {
        }
      }
    }
    .prof-conR {
      background-color: $cGray;
      flex-grow: 7;
      padding: 1rem;
      .history-title {
        margin-bottom: 1rem;
      }
      .history-wrapper {
        display: flex;
        .history-date {
          margin-left: 1rem;
          line-height: 2rem;
        }
        .history-text {
          border-left: $cDGray solid 1px;
          margin-left: 2rem;
          line-height: 2rem;
          padding-left: 2rem;
        }
      }
    }
  }
}

.about-gallery {
  &-title {
  }
  &-content {
    display: grid;
    grid-template:
      "... .... .... .... ..." 1rem
      "... pic1 pic1 pic1 ..." 1fr
      "... .... .... .... ..." 1rem
      "... pic2 .... pic3 ..." 1fr
      "... .... .... .... ..." 1rem
      /0 1fr 1rem 1fr 0;

    .g-picture {
      .g-picture-text {
        color: $cWhite;
        text-align: center;
      }
      &::before {
        display: block;
        content: "";
        padding-top: 50%;
      }
    }
    .picture1 {
      grid-area: pic1;
      @include bgZoom(url(https://picsum.photos/seed/picsum/1350/900));
    }
    .picture2 {
      grid-area: pic2;
      @include bgZoom(url(https://picsum.photos/id/237/1350/900));
    }
    .picture3 {
      @include bgZoom(url(https://picsum.photos/seed/picsum/1350/900));
      grid-area: pic3;
    }
  }
}
//about.htmlend********************************************************

//archive.htmlstart****************************************************

.category-lists {
  padding: 1rem 0;
  .category-list {
    margin-right: 2rem;
    &:last-child {
    }
  }
}

//archive.htmlend*****************************************************
