@charset "UTF-8";
/******************************************************************
全体適用
******************************************************************/
/* boxsizing */
@import url("https://fonts.googleapis.com/css2?family=Kameron&family=Noto+Sans+JP:wght@100&display=swap");
* {
  box-sizing: border-box;
}

/* googlefont */
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

/* a decoration reset */
* a {
  color: black;
  text-decoration: none;
}

/* section-width */
.content-width {
  margin: 0 auto;
  max-width: 1070px;
  width: 90%;
}

/* section-height */
.content-height {
  padding: 50px 0 50px 0;
}

.content-height2 {
  padding: 100px 0 100px 0;
}

/* category-tab */
.tab {
  display: inline-block;
  border-radius: 5px;
  margin-bottom: .5rem;
  padding: 0 1rem;
}

.tab.news {
  background-color: #f7ff08;
}

.tab.works {
  background-color: #ff0df2;
}

.tab.blog {
  background-color: #ff260d;
}

.tab.date {
  background-color: #f3f3f2;
}

.tab.tag {
  background-color: #1f1f1d;
  color: white;
}

/* <br class="br-pc"> tablet */
.br-pc {
  display: block;
}

.br-sp {
  display: none;
}

.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 19px;
}

.font-lr {
  font-size: 23px;
}

.font-lg {
  font-size: 36px;
}

.mb-sm {
  margin-bottom: 16px;
}

.mb-lg {
  margin-bottom: 150px;
}

.pb-sm {
  padding-bottom: 16px;
}

.pb-lg {
  padding-bottom: 150px;
}

.grobal-header {
  background-color: #1f1f1d;
  color: white;
  height: 50px;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 5;
}

.grobal-header .header-container {
  display: flex;
}

.grobal-header .header-container .header-left {
  line-height: 50px;
  text-align: center;
  width: 100px;
}

.grobal-header .header-container .header-left .link-logo {
  color: white;
}

.grobal-header .header-container .header-center {
  align-items: center;
  display: flex;
  flex-grow: 5;
  flex-wrap: wrap;
}

.grobal-header .header-container .header-center .menu-item {
  display: inline-block;
  margin-left: 1rem;
  text-align: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.grobal-header .header-container .header-center .menu-item:before {
  content: "";
  background-color: #9e9c9c;
  bottom: -5px;
  /*線の上下位置*/
  height: 2px;
  /*線の太さ*/
  left: 0;
  position: absolute;
  right: 0;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform .2s;
  width: 100%;
  /*線の長さ*/
}

.grobal-header .header-container .header-center .menu-item:hover:before {
  transform: scale(1);
}

.grobal-header .header-container .header-center .menu-item a {
  color: white;
}

.grobal-header .header-container .header-right {
  align-items: center;
  display: flex;
  flex-grow: 3;
  flex-wrap: wrap;
}

.grobal-header .header-container .header-right .option-icon {
  line-height: 19px;
  margin-left: 1rem;
}

.grobal-header .header-container .header-right .option-icon.iconR .search-form {
  margin-top: .5rem;
  opacity: 0;
  position: fixed;
  top: 50px;
  transform: translateY(-50px);
  transition: all .5s;
  visibility: hidden;
  z-index: 5;
}

.grobal-header .header-container .header-right .option-icon.iconR .search-form.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.grobal-header .header-container .header-right .option-icon.iconL .language-box {
  opacity: 0;
  position: fixed;
  top: 50px;
  transform: translateY(-50px);
  transition: all .5s;
  visibility: hidden;
  z-index: 5;
}

.grobal-header .header-container .header-right .option-icon.iconL .language-box.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.grobal-header .header-container .header-right .option-icon.iconL .language-box a {
  border: solid 1px #1f1f1d;
  background-color: white;
  color: black;
  display: block;
  margin: .5rem;
  padding: .5rem;
}

.grobal-header .header-container .header-right .option-icon.iconL .language-box a:hover {
  background-color: #1f1f1d;
  color: white;
}

.search-form .search-box {
  display: flex;
}

.search-form .search-box .search-input {
  font-size: 15px;
  height: 40px;
  border: solid 1px #e7e4e4;
  height: 3rem;
  padding-left: 1rem;
  vertical-align: text-top;
}

.search-form .search-box .button-submit {
  background-color: #f3f3f2;
  border: solid 1px #e7e4e4;
  cursor: pointer;
  font-size: 1.5rem;
  height: 3rem;
  vertical-align: text-top;
  width: 3rem;
}

#mobile-menu-btn {
  display: none;
}

.mobile-menu__btn {
  background-color: white;
  border-radius: 3px;
  border: none;
  outline: none !important;
  padding: 0.5rem;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.mobile-menu__btn span {
  background-color: #1f1f1d;
  display: block;
  height: 2px;
  margin-bottom: 9px;
  transition: transform 0.7s;
  width: 35px;
}

.mobile-menu__btn span:last-child {
  margin-bottom: 0;
}

#container {
  background-color: white;
  position: relative;
  transition: all 0.5s;
  z-index: 2;
}

#container .header {
  align-items: center;
  background-color: white;
  display: flex;
  height: 50px;
  justify-content: flex-end;
}

.menu-open #container {
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  transform: translate(-200px, 0);
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu .menu-mobile_global-container #menu-mobile_global .menu-item {
  opacity: 1;
  transform: none;
}

.menu-open .mobile-menu .menu-mobile_global-container #menu-mobile_global .menu-item:nth-child(1) {
  transition-delay: 0.07s;
}

.menu-open .mobile-menu .menu-mobile_global-container #menu-mobile_global .menu-item:nth-child(2) {
  transition-delay: 0.14s;
}

.menu-open .mobile-menu .menu-mobile_global-container #menu-mobile_global .menu-item:nth-child(3) {
  transition-delay: 0.21s;
}

.menu-open .mobile-menu .menu-mobile_global-container #menu-mobile_global .menu-item:nth-child(4) {
  transition-delay: 0.28s;
}

.menu-open .mobile-menu .menu-mobile_global-container #menu-mobile_global .menu-item:nth-child(5) {
  transition-delay: 0.35s;
}

.menu-open .mobile-menu .menu-mobile_global-container #menu-mobile_global .menu-item:nth-child(6) {
  transition-delay: 0.42s;
}

.menu-open .mobile-menu .menu-mobile_global-container #menu-mobile_global .menu-item:nth-child(7) {
  transition-delay: 0.49s;
}

.menu-open .mobile-menu .menu-mobile_global-container #menu-mobile_global .menu-item:nth-child(8) {
  transition-delay: 0.56s;
}

.menu-open .mobile-menu .menu-mobile_global-container #menu-mobile_global .menu-item:nth-child(9) {
  transition-delay: 0.63s;
}

.menu-open .mobile-menu .menu-mobile_global-container #menu-mobile_global .menu-item:nth-child(10) {
  transition-delay: 0.7s;
}

.menu-open .mobile-menu__btn span {
  background-color: #1f1f1d;
}

.menu-open .mobile-menu__btn span:nth-child(1) {
  transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu__btn span:nth-child(2) {
  transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn span:nth-child(3) {
  transform: translateY(-11px) rotate(-135deg);
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
}

.mobile-menu__cover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 1s;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}

.mobile-menu #menu-mobile_global {
  perspective: 2000px;
  transform-style: preserve-3d;
}

.mobile-menu #menu-mobile_global .menu-item {
  display: block;
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
  opacity: 0;
  padding: 0 40px;
  transform: translate3d(0, 0, -1000px);
  transition: transform 0.3s, opacity 0.2s;
}

.mobile-menu #menu-mobile_global .menu-item a {
  color: #1f1f1d;
  display: block;
}

.topBtn {
  align-items: center;
  background-color: rgba(31, 31, 29, 0.8);
  border: 1px solid white;
  bottom: 15px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 15px;
  width: 50px;
  z-index: 20;
}

footer {
  background-color: #1f1f1d;
  display: flex;
}

footer .content {
  color: white;
  height: 200px;
  text-align: center;
  width: 100%;
}

footer .content a {
  color: white;
}

footer .Lfooter,
footer .Cfooter {
  align-items: center;
  display: flex;
  justify-content: center;
}

footer .Rfooter {
  align-items: center;
  display: flex;
  justify-content: center;
}

footer .footer-icon {
  font-size: 1.5rem;
  margin: 0 1rem;
}

.main-contents-area .content {
  background-size: cover;
  background-position: center;
  position: relative;
}

.main-contents-area .content__link {
  color: white;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.main-contents-area .content .category {
  background-color: rgba(31, 31, 29, 0.8);
  padding: 0.3rem;
  position: absolute;
  right: 0;
  top: 0;
}

.main-contents-area .content .content-info {
  background-color: rgba(31, 31, 29, 0.8);
  bottom: 0;
  left: 0;
  padding: 0.3rem;
  position: absolute;
}

.main-contents-area .content .content-info.small {
  font-size: 0.7rem;
}

.contents {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template: "con1 con1 con1 .... con5 .... con6 " 1fr "con1 con1 con1 .... .... .... .... " 20px "con1 con1 con1 .... con9 .... con10 " 1fr ".... .... .... .... .... .... .... " 20px "con3 .... con4 .... con2 con2 con2 " 1fr ".... .... .... .... con2 con2 con2 " 20px "con7 .... con8 .... con2 con2 con2" 1fr /1fr 20px 1fr 20px 1fr 20px 1fr;
}

.contents .content {
  box-shadow: 0 0 15px #555454;
}

.contents .content::before {
  content: "";
  display: block;
  padding-top: 50%;
}

.contents .con1 {
  grid-area: con1;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con1:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/index-main_01.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con1:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con1:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con1 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con2 {
  grid-area: con2;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con2:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/index-main_02.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con2:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con2:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con2 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con3 {
  grid-area: con3;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con3:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/index-main_03.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con3:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con3:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con3 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con4 {
  grid-area: con4;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con4:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/index-main_04.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con4:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con4:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con4 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con5 {
  grid-area: con5;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con5:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/index-main_05.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con5:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con5:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con5 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con6 {
  grid-area: con6;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con6:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/index-main_06.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con6:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con6:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con6 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con7 {
  grid-area: con7;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con7:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/index-main_07.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con7:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con7:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con7 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con8 {
  grid-area: con8;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con8:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/index-main_08.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con8:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con8:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con8 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con9 {
  grid-area: con9;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con9:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/index-main_09.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con9:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con9:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con9 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con10 {
  grid-area: con10;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con10:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/index-main_10.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con10:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con10:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con10 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.news {
  background-color: #f3f3f2;
}

.news .con-container .news-title {
  letter-spacing: 3px;
  margin: 0 auto 50px auto;
  text-align: center;
}

.news .con-container .category-lists {
  padding: 1rem 0;
}

.news .con-container .category-lists .category-list {
  margin-right: 0.5rem;
}

.news .con-container .news-lists {
  margin-bottom: 50px;
}

.news .con-container .news-lists .news-link:last-child {
  margin-bottom: 0;
}

.news .con-container .news-lists .news-list {
  background-color: white;
  padding: 1em;
  margin-bottom: 1rem;
}

.news .con-container .news-lists .news-list .news-link {
  display: grid;
  grid-template: ".... .... .... .... .... .... ...." 0.5rem ".... conL .... conC .... conR ...." 100px ".... .... .... .... .... .... ...." 0.5rem/0.5rem 1fr 0.5rem 2fr 0.5rem 1fr 0.5rem;
}

.news .con-container .news-lists .news-list .news-link .conL {
  grid-area: conL;
  display: flex;
  flex-direction: column;
}

.news .con-container .news-lists .news-list .news-link .conC {
  grid-area: conC;
}

.news .con-container .news-lists .news-list .news-link .conR {
  grid-area: conR;
}

.news .con-container .news-lists .news-list .news-link .conR .wp-post-image, .news .con-container .news-lists .news-list .news-link .conR .no-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.news .con-container .news-btn {
  background-color: white;
  border-radius: 3px;
  border: solid 1px #1f1f1d;
  box-shadow: #1f1f1d 0 0 8px;
  display: block;
  font-size: 1rem;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 10rem;
}

.bottom-banners {
  display: flex;
}

.bottom-banners .banner {
  width: 100%;
}

.bottom-banners .banner::before {
  display: block;
  content: "";
  padding-top: 50%;
}

.bottom-banners .banner .banner-content {
  color: white;
}

.bottom-banners .banner-1 {
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.bottom-banners .banner-1:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/index-banner_01.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.bottom-banners .banner-1:hover .bg-zoom-content {
  opacity: 1;
}

.bottom-banners .banner-1:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.bottom-banners .banner-1 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.bottom-banners .banner-2 {
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.bottom-banners .banner-2:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/index-banner_02.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.bottom-banners .banner-2:hover .bg-zoom-content {
  opacity: 1;
}

.bottom-banners .banner-2:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.bottom-banners .banner-2 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.bottom-banners .banner-3 {
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.bottom-banners .banner-3:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/index-banner_03.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.bottom-banners .banner-3:hover .bg-zoom-content {
  opacity: 1;
}

.bottom-banners .banner-3:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.bottom-banners .banner-3 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contact-form-title, .contact-form-message {
  margin-bottom: 1rem;
}

.contact-form-grid {
  display: grid;
  grid-template: " .... .... ...." 1rem " con1 con1 con1" 1fr " con2 .... con3" 1fr " .... .... ...." 1rem " con4 .... con5" 1fr " .... .... ...." 1rem " con6 .... ...." 1fr " .... .... ...." 1rem " con7 con7 con7" 1fr " .... .... ...." 1rem " con8 con8 con8" / 1fr 1rem 1fr;
}

.checkbox {
  margin-left: 1rem;
}

.checkbox input {
  vertical-align: text-top;
}

.checkbox:first-child {
  margin-left: 0;
}

.form-item1 {
  grid-area: con1;
  padding: 0.5rem 0;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item2 {
  grid-area: con2;
  padding: 0.5rem 0;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item3 {
  grid-area: con3;
  padding: 0.5rem 0;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item4 {
  grid-area: con4;
  padding: 0.5rem 0;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item5 {
  grid-area: con5;
  padding: 0.5rem 0;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item6 {
  grid-area: con6;
  padding: 0.5rem 0;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item7 {
  grid-area: con7;
  padding: 0.5rem 0;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item8 {
  grid-area: con8;
  padding: 0.5rem 0;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.cubic-btn {
  color: #1f1f1d;
  display: inline-block;
  height: 50px;
  margin: 1rem 0 0 0;
  perspective: 300px;
  position: relative;
  transform-style: preserve-3d;
  width: 250px;
}

.cubic-btn span {
  border: solid 1px #1f1f1d;
  height: 100%;
  line-height: 48px;
  position: absolute;
  transition: all 0.2s;
  width: 100%;
}

.cubic-btn .hovering {
  transform: rotateX(90deg);
  transform-origin: center center -25px;
}

.cubic-btn .hovering .submit-btn {
  background-color: #1f1f1d;
  border: none;
  color: white;
  display: inline-block;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.cubic-btn .default {
  color: #1f1f1d;
  transform: rotateX(0);
  transform-origin: center center -25px;
}

.cubic-btn .default .submit-btn {
  border: none;
  display: inline-block;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.cubic-btn:hover .hovering {
  transform: rotateX(0);
}

.cubic-btn:hover .default {
  transform: rotateX(-90deg);
}

.mobile-btn {
  display: none;
}

.about-main-visual {
  height: calc(100vh - 50px);
  position: relative;
}

.about-main-visual .about-main-title {
  letter-spacing: 5px;
}

.about-main-visual .bg-img {
  align-items: center;
  background-image: url(../img/about-main.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.sticky-container {
  position: relative;
  z-index: 1;
}

.sticky-container .about-nav {
  background-color: rgba(31, 31, 31, 0.8);
  position: sticky;
  top: 50px;
  z-index: 2;
}

.sticky-container .about-nav .about-nav-lists {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 100px;
}

.sticky-container .about-nav .about-nav-lists .about-nav-list {
  padding: 0 1rem;
}

.sticky-container .about-nav .about-nav-lists .about-nav-list .a-nav-text {
  color: white;
}

.about-what-content {
  position: relative;
}

.about-what-content .about-what-grid {
  display: grid;
  grid-template: "... .... ... .... ..." 1rem "... con1 ... con2 ..." 1fr "... .... ... .... ..." 20px "... con3 ... con4 ..." 1fr "... .... ... .... ..." 1rem /0 1fr 20px 1fr 0;
}

.about-what-content .about-con1 {
  grid-area: con1;
}

.about-what-content .about-con2 {
  grid-area: con2;
}

.about-what-content .about-con3 {
  grid-area: con3;
}

.about-what-content .about-con4 {
  grid-area: con4;
}

.about-what-content .what-con {
  background-color: #f3f3f2;
  box-shadow: 0 0 15px #555454;
  padding: 1rem;
  position: relative;
}

.about-what-content .what-con .text-wrapper {
  display: flex;
  margin-top: 1rem;
}

.about-what-content .what-con .text-wrapper .what-conL {
  width: 25%;
}

.about-what-content .what-con .text-wrapper .what-conL .textL {
  display: flex;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.about-what-content .what-con .text-wrapper .what-conL .textL .svg-inline--fa {
  background-color: #1f1f1d;
  border-radius: 2px;
  color: white;
  height: 1.5rem;
  margin-right: 0.5rem;
  width: 1.5rem;
}

.about-what-content .what-con .text-wrapper .what-conR {
  width: 75%;
}

.about-what-content .what-con .text-wrapper .what-conR .textR {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.about-who-content {
  position: relative;
}

.about-who-content .prof-con-wrapper {
  box-shadow: 0 0 15px #555454;
  display: flex;
  margin-top: 1rem;
}

.about-who-content .prof-con-wrapper .prof-conL {
  flex-grow: 3;
}

.about-who-content .prof-con-wrapper .prof-conL .prof-conL-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about-who-content .prof-con-wrapper .prof-conL .prof-conL-wrapper .prof-picture {
  display: block;
  height: 250px;
  margin: 1rem auto;
}

.about-who-content .prof-con-wrapper .prof-conL .prof-conL-wrapper .prof-name {
  padding: 0.5rem 0;
}

.about-who-content .prof-con-wrapper .prof-conL .prof-conL-wrapper .prof-text {
  margin-bottom: 1rem;
}

.about-who-content .prof-con-wrapper .prof-conR {
  background-color: #e7e4e4;
  flex-grow: 7;
  padding: 1rem;
}

.about-who-content .prof-con-wrapper .prof-conR .history-title {
  margin-bottom: 1rem;
}

.about-who-content .prof-con-wrapper .prof-conR .history-wrapper {
  display: flex;
}

.about-who-content .prof-con-wrapper .prof-conR .history-wrapper .history-date {
  line-height: 2rem;
  margin-left: 1rem;
}

.about-who-content .prof-con-wrapper .prof-conR .history-wrapper .history-text {
  border-left: #9e9c9c solid 1px;
  line-height: 2rem;
  margin-left: 2rem;
  padding-left: 2rem;
}

.about-gallery-content {
  display: grid;
  grid-template: "... .... .... .... ..." 1rem "... pic1 pic1 pic1 ..." 1fr "... .... .... .... ..." 1rem "... pic2 .... pic3 ..." 1fr "... .... .... .... ..." 1rem /0 1fr 1rem 1fr 0;
}

.about-gallery-content .g-picture .g-picture-text {
  color: white;
  text-align: center;
}

.about-gallery-content .g-picture::before {
  content: "";
  display: block;
  padding-top: 50%;
}

.about-gallery-content .picture1 {
  grid-area: pic1;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.about-gallery-content .picture1:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(https://picsum.photos/seed/picsum/1350/900) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.about-gallery-content .picture1:hover .bg-zoom-content {
  opacity: 1;
}

.about-gallery-content .picture1:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.about-gallery-content .picture1 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .8s ease;
}

.about-gallery-content .picture2 {
  grid-area: pic2;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.about-gallery-content .picture2:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(https://picsum.photos/id/237/1350/900) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.about-gallery-content .picture2:hover .bg-zoom-content {
  opacity: 1;
}

.about-gallery-content .picture2:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.about-gallery-content .picture2 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .8s ease;
}

.about-gallery-content .picture3 {
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
  grid-area: pic3;
}

.about-gallery-content .picture3:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(https://picsum.photos/seed/picsum/1350/900) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.about-gallery-content .picture3:hover .bg-zoom-content {
  opacity: 1;
}

.about-gallery-content .picture3:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.about-gallery-content .picture3 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .8s ease;
}

.under-arrow {
  position: absolute;
  bottom: 15px;
  left: 50%;
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: flow;
  animation-timing-function: ease;
}

.under-arrow .arrow1 {
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color: transparent transparent #1f1f1d #1f1f1d;
  transform: translateX(-50%);
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

@keyframes flow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.pagination .screen-reader-text {
  margin: 100px 0 0 0;
  padding: 1rem;
  text-align: center;
}

.pagination .nav-links {
  display: flex;
  justify-content: center;
}

.pagination .nav-links span.page-numbers {
  background-color: #e7e4e4;
  color: white;
  margin: 0 .5rem;
  padding: .5rem 1rem;
}

.pagination .nav-links a.page-numbers {
  background-color: #9e9c9c;
  color: white;
  margin: 0 .5rem;
  padding: .5rem 1rem;
}

.post-image {
  background-image: url(https://picsum.photos/1350/900?grayscale);
  background-position: center;
  background-size: cover;
  height: 50vh;
  margin-top: 50px;
}

.main-contents .content-info {
  margin: 0 auto;
  width: 90%;
}

.main-contents .content-info__title, .main-contents .content-info__author {
  margin-bottom: 1rem;
}

.main-contents .content-info__text p {
  line-height: 2;
}

.main-contents .post-navigation .screen-reader-text {
  border-top: 3px solid #e7e4e4;
  color: #1f1f1d;
  display: inline-block;
  margin: 100px 0 2rem 0;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}

.main-contents .post-navigation .nav-links {
  background-color: #f3f3f2;
  position: relative;
}

.main-contents .post-navigation .nav-links .nav-previous {
  left: 0;
  position: absolute;
}

.main-contents .post-navigation .nav-links .nav-next {
  position: absolute;
  right: 0;
}

.demo {
  margin-top: 50px;
}

.slider-area {
  margin-bottom: 2rem;
}

.slider-area .SAwrapper {
  display: flex;
  justify-content: space-between;
}

.slider-area .SAwrapper__left {
  background-color: #f3f3f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 50%;
}

.slider-area .SAwrapper__left p, .slider-area .SAwrapper__left h1 {
  text-align: center;
  line-height: 2rem;
}

.slider-area .SAwrapper__left h1 {
  border-bottom: solid #1f1f1d 1px;
  font-size: 1.3rem;
  margin: 0 2rem 1rem 2rem;
}

.slider-area .SAwrapper__right {
  width: 50%;
}

.slider-area .SAwrapper__right .swiper-container .swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
}

.slider-area .SAwrapper__right .swiper-container .swiper-slide.slide1 {
  background-image: url(../img/business_01.jpeg);
}

.slider-area .SAwrapper__right .swiper-container .swiper-slide.slide2 {
  background-image: url(../img/business_02.jpeg);
}

.slider-area .SAwrapper__right .swiper-container .swiper-slide.slide3 {
  background-image: url(../img/business_03.jpeg);
}

.slider-area .SAwrapper__right .swiper-container .swiper-slide.slide4 {
  background-image: url(../img/business_04.jpeg);
}

.slider-area .SAwrapper__right .swiper-container .swiper-slide.slide5 {
  background-image: url(../img/business_05.jpeg);
}

.slider-area .SAwrapper__right .swiper-container .swiper-slide.slide6 {
  background-image: url(../img/business_06.jpeg);
}

.slider-area .SAwrapper__right .swiper-pagination-fraction {
  color: #147af6;
}

.animation-area {
  position: relative;
}

.animation-area .animation-char {
  font-size: 2rem;
  line-height: 2;
}

.animation-area .animation-char .block-animation {
  display: inline-block;
}

.animation-area .playback_controls_row {
  background-color: #e7e4e4;
  bottom: 0;
  display: grid;
  left: 0;
  position: sticky;
  right: 0;
  grid-template: "... .... .... .... .... .... .... .... ..." 1rem "... btn1 .... btn2 .... btn3 .... btn4 ..." 1fr "... .... .... .... .... .... .... .... ..." 1rem "... btn5 .... btn6 .... btn7 .... btn8 ..." 1fr "... .... .... .... .... .... .... .... ..." 1rem /1rem 1fr  1rem 1fr  1rem 1fr  1rem 1fr  1rem;
}

.animation-area .playback_controls_row .playButton {
  grid-area: btn1;
}

.animation-area .playback_controls_row .pauseButton {
  grid-area: btn2;
}

.animation-area .playback_controls_row .resumeButton {
  grid-area: btn3;
}

.animation-area .playback_controls_row .reverseButton {
  grid-area: btn4;
}

.animation-area .playback_controls_row .slowButton {
  grid-area: btn5;
}

.animation-area .playback_controls_row .fastButton {
  grid-area: btn6;
}

.animation-area .playback_controls_row .seekButton {
  grid-area: btn7;
}

.animation-area .playback_controls_row .progressButton {
  grid-area: btn8;
}

.animation-area .playback_controls_row .playbackButton {
  background-color: #1f1f1d;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-right: 1rem;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
  width: 100%;
}

.animation-area .playback_controls_row .playbackButton:hover {
  background-color: white;
  color: #1f1f1d;
}

#intro {
  align-items: center;
  background-color: #526bc3;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

#intro .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro .content .img-logo {
  background-color: gray;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.project {
  align-items: center;
  background-color: gray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  transition: all 1s ease-out;
  width: 100%;
}

.project .info {
  text-align: center;
}

.project .img {
  background-color: #526bc3;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.tab-demo {
  width: 100%;
  font-size: 14px;
  margin: 20px auto;
}

.tab-demo__label {
  display: flex;
}

.tab-demo__label li a {
  display: inline-block;
  text-align: center;
  padding: 1rem 1rem;
  color: #1f1f1d;
  border-radius: 10px 10px 0 0;
}

.tab-demo__label li a.active {
  background-color: #e7e4e4;
}

.tab-demo__label li a:not(.active):hover {
  opacity: 0.5;
  transition: 0.4s;
}

.tab-demo__content {
  display: none;
}

.tab-demo__content.active {
  background-color: #e7e4e4;
  min-height: 150px;
  padding: 1em;
  display: block;
}

.acordion__title {
  cursor: pointer;
  background-color: #e7e4e4;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  text-align: center;
}

.acordion__title .btnClose {
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}

.acordion__title .btnClose span {
  background-color: #1f1f1d;
  display: block;
  height: 1px;
  right: 50%;
  position: absolute;
  top: 50%;
  width: 20px;
  transition: all .3s;
}

.acordion__title .btnClose span:nth-child(1) {
  transform: translateX(-17px) rotate(90deg);
}

.acordion__title .btnClose span:nth-child(2) {
  transform: translateX(-17px);
}

.acordion__title.active {
  background-color: #1f1f1d;
  color: white;
}

.acordion__title.active .btnClose span {
  background-color: white;
}

.acordion__title.active .btnClose span:nth-child(1) {
  transform: translateX(-17px);
}

.acordion__content {
  background-color: #f3f3f2;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  display: none;
  line-height: 2;
}

.acordion .closeBtn {
  text-align: center;
  display: block;
  background-color: #9e9c9c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn-container {
  display: grid;
  grid-template: "... .... ... .... ... .... ... .... ... " 1rem "... btn1 ... btn2 ... btn3 ... btn4 ... " 1fr "... .... ... .... ... .... ... .... ... " 1rem/1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem;
}

.btn-container .modal__btn {
  background-color: white;
  border: 1px solid #1f1f1d;
  display: inline-block;
  height: 4rem;
  width: 100%;
  vertical-align: middle;
}

#modalOpen1 {
  grid-area: btn1;
}

#modalOpen2 {
  grid-area: btn2;
}

#modalOpen3 {
  grid-area: btn3;
}

#modalOpen4 {
  grid-area: btn4;
}

.modal-area {
  background-color: white;
  height: calc(100vh - 100px);
  left: 50%;
  opacity: 0;
  overflow: auto;
  padding: 1rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  transition: 0.3s;
  visibility: hidden;
  z-index: 10;
}

.modal-area .modal {
  display: none;
}

.modal-area .modal.active {
  display: block;
}

.modal-area .modalClose {
  background-color: #f3f3f2;
  border: 1px solid #1f1f1d;
  cursor: pointer;
  border-radius: 3px;
  height: 50px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 50px;
}

.modal-area .modalClose span {
  background-color: #1f1f1d;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
}

.modal-area .modalClose span:nth-child(1) {
  transform: translateX(-17px) rotate(45deg);
}

.modal-area .modalClose span:nth-child(2) {
  transform: translateX(-17px) rotate(-45deg);
}

.modal-area.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}

.mask {
  background-color: rgba(31, 31, 31, 0.8);
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: 0.3s;
  visibility: hidden;
  width: 100%;
  z-index: 9;
}

.mask.active {
  opacity: 0.8;
  visibility: visible;
}

.e404 {
  height: calc(100vh - 200px);
}

.e404 .error-content {
  line-height: 2;
  margin: 1rem 0;
}

.e404 .error-content .top-link {
  background-color: #f3f3f2;
  border: 1px solid #9e9c9c;
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem;
}

.privacy-main .privacy-title, .privacy-main .privacy-text {
  margin-bottom: 25px;
  text-align: center;
}

.privacy-main h2 {
  font-weight: bolder;
  padding-left: 1rem;
  margin: .5rem 0;
}
