@charset "UTF-8";
/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #fff;
}

/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
      - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

/******************************************************************
全体適用
******************************************************************/
/* boxsizing */
* {
  box-sizing: border-box;
}

/* googlefont */
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

/* a decoration reset */
* a {
  color: black;
  text-decoration: none;
}

/* color */
/* section-width */
.content-width {
  margin: 0 auto;
  max-width: 1070px;
  width: 90%;
}

/* section-height */
.content-height {
  padding: 100px 0 100px 0;
}

/* hover-animation */
.hover-Uline {
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.hover-Uline:before {
  content: "";
  background-color: #9e9c9c;
  bottom: -5px;
  /*線の上下位置*/
  height: 2px;
  /*線の太さ*/
  left: 0;
  position: absolute;
  right: 0;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform .2s;
  width: 100%;
  /*線の長さ*/
}

.hover-Uline:hover:before {
  transform: scale(1);
}

/* hover-black-btn */
.hoverBbtn {
  border: solid 1px #1f1f1d;
  border-radius: 3px;
  box-shadow: #1f1f1d 0 0 8px;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  transition: all 0.5s ease;
  width: 10rem;
}

.hoverBbtn:hover {
  background-color: #1f1f1d;
  box-shadow: none;
  color: white;
}

/* <br class="br-pc"> tablet */
.br-pc {
  display: block;
}

.br-sp {
  display: none;
}

.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 19px;
}

.font-lr {
  font-size: 23px;
}

.font-lg {
  font-size: 36px;
}

.mb-sm {
  margin-bottom: 16px;
}

.mb-lg {
  margin-bottom: 150px;
}

.pb-sm {
  padding-bottom: 16px;
}

.pb-lg {
  padding-bottom: 150px;
}

/******************************************************************
tabletで適用
******************************************************************/
/******************************************************************
smartphoneで適用
******************************************************************/
@media screen and (max-width: 480px) {
  /* <br class="br-sp"> smartphone */
  .br-pc {
    display: none;
  }
  .br-sp {
    display: block;
  }
  .font-sm {
    font-size: 14px;
  }
  .font-md {
    font-size: 17px;
  }
  .font-lr {
    font-size: 17px;
  }
  .font-lg {
    font-size: 25px;
  }
  .mb-sm {
    margin-bottom: 16px;
  }
  .mb-lg {
    margin-bottom: 80px;
  }
  .pb-sm {
    padding-bottom: 16px;
  }
  .pb-lg {
    padding-bottom: 80px;
  }
}

.under-arrow {
  position: absolute;
  bottom: 15px;
  left: 50%;
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: flow;
  animation-timing-function: ease;
}

.under-arrow .arrow1 {
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color: transparent transparent #1f1f1d #1f1f1d;
  transform: translateX(-50%);
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

@keyframes flow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.grobal-header {
  background-color: #1f1f1d;
  color: white;
  left: 0;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 5;
  height: 50px;
}

.grobal-header .header-container {
  display: flex;
}

.grobal-header .header-container .header-left {
  line-height: 50px;
  text-align: center;
  width: 100px;
}

.grobal-header .header-container .header-left .link-logo {
  color: white;
}

.grobal-header .header-container .header-center {
  align-items: center;
  display: flex;
  flex-grow: 5;
  flex-wrap: wrap;
}

.grobal-header .header-container .header-center .link-text {
  margin-left: 1rem;
  text-align: center;
}

.grobal-header .header-container .header-center .link-text a {
  color: white;
}

.grobal-header .header-container .header-right {
  align-items: center;
  display: flex;
  flex-grow: 3;
  flex-wrap: wrap;
}

.grobal-header .header-container .header-right .option-icon {
  line-height: 19px;
  margin-left: 1rem;
}

.grobal-header .header-container .header-right .option-icon .svg-inline--fa {
  font-size: 19px;
}

#mobile-menu-btn {
  display: none;
}

.mobile-menu__btn {
  border-radius: 3px;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: .5rem;
  background-color: white;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.mobile-menu__btn span {
  background-color: #1f1f1d;
  display: block;
  height: 2px;
  width: 35px;
  margin-bottom: 9px;
  transition: transform .7s;
}

.mobile-menu__btn span:last-child {
  margin-bottom: 0;
}

#container {
  background-color: white;
  position: relative;
  z-index: 2;
  transition: all 0.5s;
}

#container .header {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-open #container {
  transform: translate(-200px, 0);
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__item {
  transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  transition-delay: 0.28s;
}

.menu-open .mobile-menu__item:nth-child(5) {
  transition-delay: 0.35s;
}

.menu-open .mobile-menu__item:nth-child(6) {
  transition-delay: 0.42s;
}

.menu-open .mobile-menu__item:nth-child(7) {
  transition-delay: 0.49s;
}

.menu-open .mobile-menu__item:nth-child(8) {
  transition-delay: 0.56s;
}

.menu-open .mobile-menu__item:nth-child(9) {
  transition-delay: 0.63s;
}

.menu-open .mobile-menu__item:nth-child(10) {
  transition-delay: 0.7s;
}

.menu-open .mobile-menu__btn span {
  background-color: #1f1f1d;
}

.menu-open .mobile-menu__btn span:nth-child(1) {
  transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu__btn span:nth-child(2) {
  transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn span:nth-child(3) {
  transform: translateY(-11px) rotate(-135deg);
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
}

.mobile-menu__cover {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
  cursor: pointer;
}

.mobile-menu__main {
  perspective: 2000px;
  transform-style: preserve-3d;
}

.mobile-menu__item {
  display: block;
  transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  transition: transform 0.3s, opacity 0.2s;
  opacity: 0;
}

.mobile-menu__link {
  color: #1f1f1d;
  display: block;
  margin-top: 30px;
}

.mobile-menu__link .main-title {
  font-weight: 600;
  font-size: 25px;
}

.mobile-menu__link .sub-title {
  padding-left: .5rem;
  color: #9e9c9c;
  display: block;
  font-size: 14px;
}

footer {
  background-color: #1f1f1d;
  display: flex;
}

footer .content {
  color: white;
  height: 200px;
  text-align: center;
  width: 100%;
}

footer .content a {
  color: white;
}

footer .Lfooter, footer .Cfooter, footer .Rfooter {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-icon {
  margin: 0 0.2rem;
}

.main-contents-area .content {
  background-size: cover;
  background-position: center;
  position: relative;
}

.main-contents-area .content__link {
  color: white;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.main-contents-area .content .category {
  background-color: rgba(31, 31, 29, 0.8);
  padding: 0.3rem;
  position: absolute;
  right: 0;
  top: 0;
}

.main-contents-area .content .content-info {
  background-color: rgba(31, 31, 29, 0.8);
  bottom: 0;
  left: 0;
  padding: 0.3rem;
  position: absolute;
}

.main-contents-area .content .content-info.small {
  font-size: 0.7rem;
}

.contents {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: "con1 con1 con1 .... con5 .... con6 " 1fr "con1 con1 con1 .... .... .... .... " 20px "con1 con1 con1 .... con9 .... con10 " 1fr ".... .... .... .... .... .... .... " 20px "con3 .... con4 .... con2 con2 con2 " 1fr ".... .... .... .... con2 con2 con2 " 20px "con7 .... con8 .... con2 con2 con2" 1fr /1fr 20px 1fr 20px 1fr 20px 1fr;
}

.contents .content {
  box-shadow: 0 0 15px #555454;
}

.contents .content::before {
  display: block;
  content: "";
  padding-top: 50%;
}

.contents .con1 {
  grid-area: con1;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con1:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_01.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con1:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con1:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con1 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con2 {
  grid-area: con2;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con2:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_02.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con2:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con2:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con2 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con3 {
  grid-area: con3;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con3:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_03.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con3:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con3:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con3 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con4 {
  grid-area: con4;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con4:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_04.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con4:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con4:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con4 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con5 {
  grid-area: con5;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con5:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_05.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con5:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con5:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con5 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con6 {
  grid-area: con6;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con6:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_06.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con6:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con6:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con6 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con7 {
  grid-area: con7;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con7:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_07.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con7:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con7:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con7 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con8 {
  grid-area: con8;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con8:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_08.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con8:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con8:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con8 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con9 {
  grid-area: con9;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con9:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_09.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con9:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con9:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con9 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con10 {
  grid-area: con10;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con10:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_010.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con10:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con10:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con10 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con11 {
  grid-area: con11;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con11:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_011.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con11:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con11:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con11 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con12 {
  grid-area: con12;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con12:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_012.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con12:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con12:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con12 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con13 {
  grid-area: con13;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con13:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_013.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con13:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con13:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con13 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con14 {
  grid-area: con14;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con14:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_014.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con14:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con14:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con14 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.contents .con15 {
  grid-area: con15;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.contents .con15:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/business_015.jpeg) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.contents .con15:hover .bg-zoom-content {
  opacity: 1;
}

.contents .con15:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.contents .con15 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .8s ease;
}

.news {
  background-color: #f3f3f2;
}

.news .con-container .news-title {
  letter-spacing: 3px;
  margin: 0 auto 50px auto;
  text-align: center;
}

.news .con-container .news-lists {
  margin-bottom: 50px;
}

.news .con-container .news-lists .news-link:last-child {
  margin-bottom: 0;
}

.news .con-container .news-lists .news-list {
  background-color: white;
  padding: 1em;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.news .con-container .news-lists .news-list .news-link {
  display: flex;
}

.news .con-container .news-lists .news-list .news-link .conL {
  flex-grow: 1;
  padding: 1em;
}

.news .con-container .news-lists .news-list .news-link .conC {
  flex-grow: 8;
  padding: 1em;
}

.news .con-container .news-lists .news-list .news-link .conR {
  background-color: white;
  flex-basis: 130px;
  overflow: hidden;
  height: 100px;
  width: 100px;
}

.news .con-container .news-lists .news-list .news-link .conR .news-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 1s ease;
}

.news .con-container .news-lists .news-list:hover {
  background-color: #e7e4e4;
}

.news .con-container .news-lists .news-list:hover .conR img {
  opacity: 0.7;
  transform: scale(1.1);
}

.bottom-banners {
  display: flex;
}

.bottom-banners .banner {
  width: 100%;
}

.bottom-banners .banner::before {
  display: block;
  content: "";
  padding-top: 50%;
}

.bottom-banners .banner .banner-content {
  color: white;
}

.bottom-banners .banner-1 {
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.bottom-banners .banner-1:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(https://picsum.photos/seed/picsum/1350/900) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.bottom-banners .banner-1:hover .bg-zoom-content {
  opacity: 1;
}

.bottom-banners .banner-1:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.bottom-banners .banner-1 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .8s ease;
}

.bottom-banners .banner-2 {
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.bottom-banners .banner-2:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(https://picsum.photos/id/237/1350/900) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.bottom-banners .banner-2:hover .bg-zoom-content {
  opacity: 1;
}

.bottom-banners .banner-2:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.bottom-banners .banner-2 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .8s ease;
}

.bottom-banners .banner-3 {
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.bottom-banners .banner-3:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(https://picsum.photos/1350/900?grayscale) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.bottom-banners .banner-3:hover .bg-zoom-content {
  opacity: 1;
}

.bottom-banners .banner-3:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.bottom-banners .banner-3 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .8s ease;
}

.contact-form-title, .contact-form-message {
  margin-bottom: 1rem;
}

.contact-form-grid {
  display: grid;
  grid-template: " .... .... ...." 1rem " con1 con1 con1" 1fr " con2 .... con3" 1fr " .... .... ...." 1rem " con4 .... con5" 1fr " .... .... ...." 1rem " con6 .... ...." 1fr " .... .... ...." 1rem " con7 con7 con7" 1fr " .... .... ...." 1rem " con8 con8 con8" / 1fr 1rem 1fr;
}

.check-box {
  margin-left: 1rem;
}

.check-box:first-child {
  margin-left: 0;
}

.form-item1 {
  padding: 0.5rem 0;
  grid-area: con1;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item2 {
  padding: 0.5rem 0;
  grid-area: con2;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item3 {
  padding: 0.5rem 0;
  grid-area: con3;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item4 {
  padding: 0.5rem 0;
  grid-area: con4;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item5 {
  padding: 0.5rem 0;
  grid-area: con5;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item6 {
  padding: 0.5rem 0;
  grid-area: con6;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item7 {
  padding: 0.5rem 0;
  grid-area: con7;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.form-item8 {
  padding: 0.5rem 0;
  grid-area: con8;
}

.ipt {
  background-color: #f3f3f2;
  border: none;
  height: 3rem;
  padding-left: 0.5rem;
  width: 100%;
}

.ipt-lg {
  background-color: #f3f3f2;
  border: none;
  height: 10rem;
  padding-left: 0.5rem;
  width: 100%;
}

.must:after {
  content: " * 必須";
  color: red;
  font-size: 0.7rem;
}

.cubic-btn {
  color: #1f1f1d;
  display: inline-block;
  height: 50px;
  margin: 1rem 0 0 0;
  perspective: 300px;
  position: relative;
  transform-style: preserve-3d;
  width: 250px;
}

.cubic-btn span {
  border: solid 1px #1f1f1d;
  height: 100%;
  line-height: 48px;
  position: absolute;
  transition: all 0.2s;
  width: 100%;
}

.cubic-btn .hovering {
  transform: rotateX(90deg);
  transform-origin: center center -25px;
}

.cubic-btn .hovering .submit-btn {
  background-color: #1f1f1d;
  border: none;
  color: white;
  display: inline-block;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.cubic-btn .default {
  color: #1f1f1d;
  transform: rotateX(0);
  transform-origin: center center -25px;
}

.cubic-btn .default .submit-btn {
  border: none;
  display: inline-block;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.cubic-btn:hover .hovering {
  transform: rotateX(0);
}

.cubic-btn:hover .default {
  transform: rotateX(-90deg);
}

.about-main-visual {
  height: calc(100vh - 50px);
  padding-top: 50px;
  position: relative;
}

.about-main-visual .about-main-title {
  letter-spacing: 5px;
}

.about-main-visual .bg-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(../img/about-main.jpg);
  background-size: cover;
  background-position: center;
}

.about-nav {
  background-color: rgba(31, 31, 29, 0.8);
  position: sticky;
  z-index: 5;
  top: 50px;
}

.about-nav .about-nav-lists {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 100px;
}

.about-nav .about-nav-lists .about-nav-list {
  padding: 0 1rem;
}

.about-nav .about-nav-lists .about-nav-list .a-nav-text {
  color: white;
}

.about-what-content {
  position: relative;
}

.about-what-content .about-what-grid {
  display: grid;
  grid-template: "... .... ... .... ..." 1rem "... con1 ... con2 ..." 1fr "... .... ... .... ..." 20px "... con3 ... con4 ..." 1fr "... .... ... .... ..." 1rem /0 1fr 20px 1fr 0;
}

.about-what-content .about-con1 {
  grid-area: con1;
}

.about-what-content .about-con2 {
  grid-area: con2;
}

.about-what-content .about-con3 {
  grid-area: con3;
}

.about-what-content .about-con4 {
  grid-area: con4;
}

.about-what-content .what-con {
  box-shadow: 0 0 15px #555454;
  background-color: #f3f3f2;
  padding: 1rem;
}

.about-what-content .what-con .text-wrapper {
  display: flex;
  margin-top: 1rem;
}

.about-what-content .what-con .text-wrapper .what-conL {
  width: 25%;
}

.about-what-content .what-con .text-wrapper .what-conL .textL {
  display: flex;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.about-what-content .what-con .text-wrapper .what-conL .textL .svg-inline--fa {
  border-radius: 2px;
  color: white;
  background-color: #1f1f1d;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}

.about-what-content .what-con .text-wrapper .what-conR {
  width: 75%;
}

.about-what-content .what-con .text-wrapper .what-conR .textR {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.about-who-content {
  position: relative;
}

.about-who-content .prof-con-wrapper {
  margin-top: 1rem;
  display: flex;
  box-shadow: 0 0 15px #555454;
}

.about-who-content .prof-con-wrapper .prof-conL {
  flex-grow: 3;
}

.about-who-content .prof-con-wrapper .prof-conL .prof-conL-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about-who-content .prof-con-wrapper .prof-conL .prof-conL-wrapper .prof-picture {
  display: block;
  height: 250px;
  margin: 1rem auto;
}

.about-who-content .prof-con-wrapper .prof-conL .prof-conL-wrapper .prof-name {
  padding: .5rem 0;
}

.about-who-content .prof-con-wrapper .prof-conL .prof-conL-wrapper .prof-text {
  margin-bottom: 1rem;
}

.about-who-content .prof-con-wrapper .prof-conR {
  background-color: #e7e4e4;
  flex-grow: 7;
  padding: 1rem;
}

.about-who-content .prof-con-wrapper .prof-conR .history-title {
  margin-bottom: 1rem;
}

.about-who-content .prof-con-wrapper .prof-conR .history-wrapper {
  display: flex;
}

.about-who-content .prof-con-wrapper .prof-conR .history-wrapper .history-date {
  margin-left: 1rem;
  line-height: 2rem;
}

.about-who-content .prof-con-wrapper .prof-conR .history-wrapper .history-text {
  border-left: #9e9c9c solid 1px;
  margin-left: 2rem;
  line-height: 2rem;
  padding-left: 2rem;
}

.about-gallery-content {
  display: grid;
  grid-template: "... .... .... .... ..." 1rem "... pic1 pic1 pic1 ..." 1fr "... .... .... .... ..." 1rem "... pic2 .... pic3 ..." 1fr "... .... .... .... ..." 1rem /0 1fr 1rem 1fr 0;
}

.about-gallery-content .g-picture .g-picture-text {
  color: white;
  text-align: center;
}

.about-gallery-content .g-picture::before {
  display: block;
  content: "";
  padding-top: 50%;
}

.about-gallery-content .picture1 {
  grid-area: pic1;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.about-gallery-content .picture1:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(https://picsum.photos/seed/picsum/1350/900) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.about-gallery-content .picture1:hover .bg-zoom-content {
  opacity: 1;
}

.about-gallery-content .picture1:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.about-gallery-content .picture1 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .8s ease;
}

.about-gallery-content .picture2 {
  grid-area: pic2;
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
}

.about-gallery-content .picture2:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(https://picsum.photos/id/237/1350/900) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.about-gallery-content .picture2:hover .bg-zoom-content {
  opacity: 1;
}

.about-gallery-content .picture2:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.about-gallery-content .picture2 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .8s ease;
}

.about-gallery-content .picture3 {
  position: relative;
  overflow: hidden;
  background: #1f1f1d;
  grid-area: pic3;
}

.about-gallery-content .picture3:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(https://picsum.photos/seed/picsum/1350/900) no-repeat center center;
  transition: all .8s ease;
  background-size: cover;
}

.about-gallery-content .picture3:hover .bg-zoom-content {
  opacity: 1;
}

.about-gallery-content .picture3:hover:after {
  opacity: .3;
  transform: scale(1.05);
}

.about-gallery-content .picture3 .bg-zoom-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .8s ease;
}

.category-lists {
  padding: 1rem 0;
}

.category-lists .category-list {
  margin-right: 2rem;
}
